
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.bg{
    background-color: #FFF8F3;
}
 .text-primary{
    color: #FD6E0A;
 }
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
       font-size: 18px;
    font-weight: 400;
    color: #757575;
}
.center{
    text-align: center;
}

 header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
 }
 /* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav .nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{ 
    margin-right: 50px;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
}
nav li a{
    text-decoration: none;
     color: #474747;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
      font-size: 65px;
    font-weight: bold;
    color: #181818; 
}
.banner-description{
      font-size: 18px;
    font-weight: 400;
    color: #757575;  
}
.banner-containt{
    max-width: 580px;
}
.banner-img{
    width: 580px;
}
.btn-second{
    margin-left: 22px;
    padding: 19px 24px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}
/* about */
main section {
     margin-top: 135px;
     margin-bottom: 135px;
}
.about{ 
    text-align: center;
border-radius: 10px;
 padding: 100px 120px ;
}
main{
    max-width: 1140px;
    margin:  0 auto;
   
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 5px;
}
.item-description{
     font-size: 18px;
    font-weight: bold;
    color: #474747;
}
/* skill container */
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.my{
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.education-title{
   font-size: 25px;
    font-weight: bold;
    color:#474747 ;
}
.educational-subtitle{
    font-size: 20px;
    font-weight: 600;
    color:#757575 ;
}
.education-description{
    font-size: 16px;
    font-weight: 400;
    color:#757575 ;
}
.download{
    margin-top: 20px;
}
/* footer style */
footer{
    padding: 130px 230px;
}
.footer-container{
   display: flex;
    gap: 100px;
}
.footer-column{
width: 50%;
}
footer input[type="text"], footer input[type="email"],footer textarea{
display: block;
height: 64px;
background-color: white;
padding: 10px 20px;
border-radius: 5px;
border: none;
margin-bottom: 24px;
width: 100%;
}
/* responsive media query */
.hide{
    display: none;
}
@media screen and (max-width:576px){
    .skills-container, .resume-container, .footer-container{
        flex-direction: column;
    }
    footer{
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"],footer textarea{
        width:  calc((100% - 40px));;
    }
}
